:root {
--brown: #5B513E;
--light-brown: #837559;
    --dark: #232323;
    --white: #ffff;
    --beige: #D9D3C7;
}



* {
    box-sizing: border-box;
  }


  
  body {
    margin: 0;
    font-family: 'IBM Plex Sans';
    display: block;

  }

  main {
    padding: 15px 0px 15px 15px;
    margin-bottom: 50px;
  }
  


button {
    cursor: pointer;
    border: 0;
}



.medium-head {
    padding-top: 350px;
    color: var(--light-brown);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}



.product {
    position: relative;
}



.details-text,
.details,
.paragraph {
    position: absolute;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
    top: 102%;
    left: 85%;
    
}


.details-text {
    z-index: 2;
    transform: rotate(-90deg);
    top: -90%;
    left: -35%;
}



.paragraph .product {
    
    z-index: 0;
    
}




.paragraph {
font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}




.logo-background {
    width: 199px;
    height: 50px;
    position: relative;
}


.logo {
    width: 199px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1;
}




header {
    background-color: #232323;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 20px;
}

.demo1 {
    display: flex;
    gap: 15px;
    flex-direction: column;
}


h1 {
    margin: 0px;
    padding-top: 250px;
    color: var(--white);
    font-size: 40px;
    font-weight: 200;
    line-height: 42px;
}




.p1 {
    margin: 0px;
    color: var(--white);
    font-size: 17px;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 30px;
    padding-top: 10px;
}



input {
    width: 378px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 1px solid #BCBABA;
    background:#232323;
}



button[type="submit"] {
    font-size: 17px;
    font-weight: 700;
    color: var(--white);
    width: 378px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 9px;
    background-color: #0E4EB0;
    border: 1px solid var(--white);
}



.devider1 {
    height: 5px;
    background-color: var(--beige);
}



    
.devider2 {
    height: 1px;
    background-image: linear-gradient(to right, var(--light-brown) 50%, var(--white) 50%);
    background-size: 4px 4px;
    margin-top: 180px;
}



span {
    font-weight: 600;
}




h2 {
    color: var(--light-brown);
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    margin: 0px;
}




.reviews {
    padding: 20px;
    margin-bottom: 250px;
}

.review {
    position: relative;
}





.picture {
    height: 80px;
    width: 80px;
    border-radius: 9px;
    background-color: var(--brown);
}




h3 {
    color: var(--white);
    font-size: 32px;
    font-weight: 200;
    line-height: 38px;
    margin: 0px;
}








.demo2 {
    display: flex;
    background-color: var(--dark);
    color: var(--white);
    padding: 20px 20px 55px 20px;
    flex-direction: column;
    gap: 15px;
}



footer {
    background-color: var(--brown);
    color: var(--white); 
}

